*.pyc
UpdaterUI/Debug/
UpdaterUI/Release/
Service/Debug/
Service/Release/
src/ApiKey.h
opendns-sign.pfx
*.ncb
*.suo
*.aps
*.idc
Service/Service.vcproj.KJK-X200S.kkowalczyk.user
UpdaterUI/UpdaterUI.vcproj.KJK-X200S.kkowalczyk.user
