*.pyc
windows/UpdaterUI/Debug/
windows/UpdaterUI/Release/
windows/Service/Debug/
Swindows/ervice/Release/
windows/src/ApiKey.h
windows/opendns-sign.pfx
*.ncb
*.suo
*.aps
*.idc
windows/Service/Service.vcproj.KJK-X200S.kkowalczyk.user
windows/UpdaterUI/UpdaterUI.vcproj.KJK-X200S.kkowalczyk.user
